<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap To-Do List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css">

</head>

<body class="d-flex">


    <section class="sidebar">
        <h2>📋 To-Do Menu</h2>
        <ul class="menu">
            <li class="done-menu menu-active"><a href="#">✅ Done Tasks <span class=" badge bg-danger mx-2">2</span></a></li>
            <li class="postponed-menu"><a href="#">⏳ Postponed Tasks<span class="badge bg-danger mx-2">12</span></a></li>
            <li class="canceled-menu"><a href="#">🗑️ Canceled Tasks<span class="badge bg-danger mx-2">3</span></a></li>
        </ul>
    </section>

    @RenderBody()

    <!-- Bootstrap JS -->

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>

</html>