<section class="task-section mx-auto">
    <h2>Canceled Tasks</h2>

    <div class="tasks">
        <ul>
            <li class="priority-high task-item d-flex justify-content-between align-items-center">
                <span class="d-block">Task title</span>
                <span class="task-time d-block text-muted">2025/12/8 20:30</span>
                <div>
                    <button class="postpone-btn btn btn-sm btn-success mx-2">To Do ✅</button>
                    <button class="postpone-btn btn btn-sm btn-warning mx-2">Postpone ⏳</button>

                </div>
            </li>

            <li class="priority-low task-item d-flex justify-content-between align-items-center">
                <span class="d-block">Task title</span>
                <span class="task-time d-block text-muted">2025/12/8 20:30</span>
                <div>
                    <button class="postpone-btn btn btn-sm btn-success mx-2">To Do ✅</button>
                    <button class="postpone-btn btn btn-sm btn-warning mx-2">Postpone ⏳</button>

                </div>
            </li>

        </ul>
    </div>
</section>